{
    "presets": [
        "@babel/preset-react",  
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "IE >= 11",
                        "safari >= 8"
                    ]
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
